<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Info window with
    <code>maxWidth</code>
  </title>
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    div.contentBackground {
      background: #7f7f7f;
    }

    .like-table div {
      vertical-align: middle;
      color: #fff;
      font-size: 20px;
      text-align: center;
      background: #44a2b0;
      height: 50px;
      line-height: 50px;
    }
  </style>
</head>

<body>
  <div id="map"></div>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>

    // This example displays a marker at the center of Australia.
    // When the user clicks the marker, an info window opens.
    // The maximum width of the info window is set to 200 pixels.

    function initMap() {
      var uluru = { lat: -25.363, lng: 131.044 };
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: uluru
      });

      var contentString = `<div class=contentBackground><div class="like-table" style="width: 100%">
    <div style="width: 100%">Test</div>
  </div>
  <table>
    <tr>
      <td>
        <div id="curve_chart" style="width: 290px; height: 100px"></div>
      </td>
      <td>
        <div id="curve_chart2" style="width: 290px; height: 100px"></div>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
        <div id="chart_div" style="width: 360px; height: 120px;"></div>
      </td>
      <td>
        <div id="piechart" style="width: 180px; height: 120px"></div>
      </td>
    </tr>
  </table></div>`;

      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      var marker = new google.maps.Marker({
        position: uluru,
        map: map,
        title: 'Uluru (Ayers Rock)'
      });
      marker.addListener('click', function () {
        infowindow.open(map, marker);
        drawChart();
      });
    }
    google.charts.load('current', { 'packages': ['gauge', 'corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Label', 'Value'],
        ['Memory', 80],
        ['CPU', 55],
        ['Network', 68]
      ]);

      var options = {
        width: 400, height: 120,
        redFrom: 90, redTo: 100,
        yellowFrom: 75, yellowTo: 90,
        minorTicks: 5
      };

      var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

      chart.draw(data, options);

      setInterval(function () {
        data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
        chart.draw(data, options);
      }, 13000);
      setInterval(function () {
        data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
        chart.draw(data, options);
      }, 5000);
      setInterval(function () {
        data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
        chart.draw(data, options);
      }, 26000);

      var dailyPowerData = google.visualization.arrayToDataTable([
        ['Year', 'Sales', 'Expenses'],
        ['2004', 1000, 400],
        ['2005', 1170, 460],
        ['2006', 660, 1120],
        ['2007', 1030, 540]
      ]);

      var lineChartOptions = {
        title: 'Company Performance',
        curveType: 'function',
        legend: { position: 'bottom' },
        backgroundColor: 'transparent',
        // chartArea:{left:0,top:0,width:200,height:200}
      };

      var lineChart = new google.visualization.LineChart(document.getElementById('curve_chart'));

      lineChart.draw(dailyPowerData, lineChartOptions);

      var lineChart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));
      lineChart2.draw(dailyPowerData, lineChartOptions);

      var pieData = google.visualization.arrayToDataTable([
        ['Task', 'Hours per Day'],
        ['Work', 11],
        ['Eat', 2],
        ['Commute', 2],
        ['Watch TV', 2],
        ['Sleep', 7]
      ]);

      var pieOptions = {
        backgroundColor: 'transparent',
        pieHole: 0.4,
        legend: { position: 'right', alignment: 'center' },
        chartArea: { left: -20, top: 0, width: '100%', height: '95%' }
      };

      var pieChart = new google.visualization.PieChart(document.getElementById('piechart'));

      pieChart.draw(pieData, pieOptions);
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDH1dHbwVnHC8n0w2tXOUi0tp5jbJT4p7E&callback=initMap"></script>

</body>

</html>